---
layout: default
title: Oskoreia - test page
permalink: /test/
---
<link rel="stylesheet" href="/assets/styles/ships.css" />
{% include hero.html header=1 %}
{% include link-bar.html %}

<style>
    body {
        width : 100%;
        height: 100%;
    }

    .icon {
      
    }
  
</style>

<!-- <div style="color:blue; background-color: black;">
{% include icon-template.html icon="brand-aegs" %}
</div> -->

<div class="icon icon-battery "></div>
<div class="icon icon-brand-acom"></div>
<div class="icon icon-brand-aegs"></div>
<div class="icon icon-brand-anvl"></div>
<div class="icon icon-brand-argo"></div>
<div class="icon icon-brand-asas"></div>
<div class="icon icon-brand-banu"></div>
<div class="icon icon-brand-cnou"></div>
<div class="icon icon-brand-crus"></div>
<div class="icon icon-brand-drak"></div>
<div class="icon icon-brand-espr"></div>
<div class="icon icon-brand-gama"></div>
<div class="icon icon-brand-grin"></div>
<div class="icon icon-brand-krig"></div>
<div class="icon icon-brand-misc"></div>
<div class="icon icon-brand-mrai"></div>
<div class="icon icon-brand-nvy"></div>
<div class="icon icon-brand-orig"></div>
<div class="icon icon-brand-rsi"></div>
<div class="icon icon-brand-tmbl"></div>
<div class="icon icon-brand-vncl"></div>
<div class="icon icon-brand-xnaa"></div>
<div class="icon icon-cargogrid "></div>
<div class="icon icon-computer "></div>
<div class="icon icon-container "></div>
<div class="icon icon-cooler "></div>
<div class="icon icon-crosssection "></div>
<div class="icon icon-door "></div>
<div class="icon icon-electromagnetic "></div>
<div class="icon icon-emp "></div>
<div class="icon icon-fireextinguisher "></div>
<div class="icon icon-fuelintake "></div>
<div class="icon icon-fuelnozzle "></div>
<div class="icon icon-fueltank "></div>
<div class="icon icon-gravitygenerator "></div>
<div class="icon icon-infrared "></div>
<div class="icon icon-jumpdrive "></div>
<div class="icon icon-lifesupport "></div>
<div class="icon icon-mainthruster "></div>
<div class="icon icon-maneuveringthruster "></div>
<div class="icon icon-mininglaser "></div>
<div class="icon icon-missile "></div>
<div class="icon icon-missilerack "></div>
<div class="icon icon-pistol-s38"></div>
<div class="icon icon-powerplant "></div>
<div class="icon icon-qed "></div>
<div class="icon icon-quantumdrive "></div>
<div class="icon icon-quantumfueltank "></div>
<div class="icon icon-radar "></div>
<div class="icon icon-scanner "></div>
<div class="icon icon-selfdestruct "></div>
<div class="icon icon-shieldgenerator "></div>
<div class="icon icon-tractorbeam "></div>
<div class="icon icon-turret "></div>
<div class="icon icon-uec "></div>
<div class="icon icon-utility "></div>
<div class="icon icon-weapon "></div>
